run = 'npm run dev'
#'npx nodemon -x "sh main.sh || touch main.sh"'
audio = true

[packager]
language = "nodejs"

[packager.features]
packageSearch = true
guessImports = true

[nix]
channel = "stable-21_11"